/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*=====Float property====*/
.img-float{
	width: 250px;
	height: 250px;
	float: inherit;
}

.parent-element{
	background-color: skyblue;
	padding: 50px 10px;	/*padding: (top&bottom)px (left&right)px*/
	position: relative;
	height: 800px;
}

.child-one{
	background-color: gray;
	padding: 10px;
}

.child-two{
	background-color: yellow;
	padding: 10px;
	position: sticky;
	top: 0px;
}

.child-three{
	background-color: gray;
	padding: 10px;
}

/*-------------------*/
.container{
	position: relative;
}

.black-box{
	position: relative;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
	
	z-index: 1;
}

.gray-box{
	position: absolute;
	/*border: 2px solid black;*/
	background: lightgray;
	height: 60px;
	width: 70%;
	top: 50px;
	left: 50px;
	
	z-index: 3;/*gray box will be above both green and black box*/
}

.green-box{
	position: absolute;
	/*border: 2px solid black;*/
	background: lightgreen;
	width: 35%;
	top: -15px;
	left: 270px;
	height: 100px;

	z-index: 2;/*green box will be above black box*/
}